{# templates/emails/registration.html.twig #}
<h3>NEW CONFERENCE</h3>

Heyy, we just added this conference {{ name }}! You should go to the website and vote if you want to see it it at the the next Event.

Thanks!